

.card{
height:200px;
box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-bottom: 15px; 
border-radius:10px;
padding:10px;
}


.cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:15px;
}
.container{
    padding-top: 100px;
}

nav{
    margin-bottom:10px;
}


@media only screen and (min-width:0px) and (max-width:375px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
}
     
/* --------for medium screen------ */
@media only screen and (min-width:375px) and (max-width:768px){
.cards{
    grid-template-columns: repeat(2,1fr);
    } 
   
}


nav>li{
    display:flex;
    gap:15px;
}

nav>li>ul>button{
    background:#017f7f;
   color:white;
   border-radius: 10px;
}
nav>li>ul:nth-child(1)>button{
    background:#a5292a;
   color:white;
   border-radius: 10px;
}
